body {
    background-color: #00923e;
    font-family: tahoma;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-radius: 25px;
    overflow: hidden;
}

th {
    color: black;
    font-weight: bold;
    background-color: #f8c711;
    height: 35px;
}

td {
    width: 200px;
    height: 45px;
    font-size: 15px;
}

table tr:nth-child(even) {
    background-color: #c8c8c8;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

select {
    width: 35px;
    height: 35px;
}


.result {
    width: 80px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.group {
    width: 80px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.left {
    float: right;
    padding-right: 5px;
}

.right {
    float: left;
    padding-left: 5px;
}


.th-right {
    text-align: right;
    padding-right: 5px;
}

.th-left {
    text-align: left;
    padding-left: 5px;
}

.score-select {

}

.left-text {
    text-align: right;
    padding-right: 5px;
}

.right-text {
    text-align: left;
    padding-right: 5px;
}

td.score-select {
    width: 160px;
}

td.score-select, td.button {
    text-align: center;
    vertical-align: middle;
}

td.button {
    width: 60px;
    height: 45px;
}

button:disabled {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: red;
    color: white;
    font-size: 8px;
}

button:enabled {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: green;
    color: white;
    font-size: 8px;
}

select:disabled {
    background-color: #dcdcdc;
    color: red;
}

select:enabled {
    color: green;
}

#container {
    width: 900px;
    margin: 0 auto;
    border: 1.5px solid black;
    border-radius: 25px;
}

#brasil:after {
    content: url("http://localhost:63342/03_CSS_Overview//recources/brasil.png");
    padding-left: 5px;
}

#mexico:before {
    content: url("http://localhost:63342/03_CSS_Overview//recources/mexico.png");
    padding-left: 5px;
    padding-right: 5px;
}

#spain:after {
    content: url('http://localhost:63342/03_CSS_Overview//recources/spain.png');
    padding-left: 5px;
}

#netherlands:before {
    content: url('http://localhost:63342/03_CSS_Overview//recources/netherlands.png');
    padding-left: 5px;
    padding-right: 5px;
}

#italy:after {
    content: url('http://localhost:63342/03_CSS_Overview//recources/italy.png');
    padding-left: 5px;
}

#england:before {
    content: url('http://localhost:63342/03_CSS_Overview//recources/england.png');
    padding-left: 5px;
    padding-right: 5px;
}

#argentina:after {
    content: url('http://localhost:63342/03_CSS_Overview//recources/argentina.png');
    padding-left: 5px;
}

#bosnia:before {
    content: url('http://localhost:63342/03_CSS_Overview//recources/bosna.png');
    padding-left: 5px;
    padding-right: 5px;
}

#germany:after {
    content: url('http://localhost:63342/03_CSS_Overview//recources/germany.png');
    padding-left: 5px;
}

#portugal:before {
    content: url('http://localhost:63342/03_CSS_Overview//recources/portugal.png');
    padding-left: 5px;
    padding-right: 5px;
}
